.header-h-title {
    height: 50px;
    width: 100%;
    line-height: 50px;
    color: #1c799e;
    text-align: center;
    text-transform: uppercase;
    background-color: #1c799e;
    color: white;
    margin-bottom: 10pxpx;
}


section {
    display: block;
    margin: 10px;
    width: 90%;
    margin: 10px auto;
    
}



.l-f-name {
    font-weight: bold;
    padding: 2px;
}

.l-f-value {
    padding: 2px 10px;
}